fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg2-binary
pydantic>=2
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
bcrypt
alembic
asyncpg
pytest
pytest-asyncio
httpx
pytest-cov
coverage
pytest-mock
pytest-postgresql
pytest-aiohttp
pytest-sugar
pytest-forked
pytest-xdist
pytest-watch
aiopg
databases[postgresql]
fastapi-users[sqlalchemy2,asyncpg]
fastapi-mail
email-validator
python-multipart
jinja2
aiofiles
